@charset "UTF-8";

/* CSS RESET */
* {padding:0px; margin:0px; -webkit-font-smoothing:antialiased;}
*:focus {outline:none;}
html, body {-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; font-size:62.5%; color:#171010;}

/* scroll smooth 관련 */
html.lenis { height: auto; }
.lenis.lenis-smooth { scroll-behavior: auto !important; }
.lenis.lenis-smooth [data-lenis-prevent] { overscroll-behavior: contain; }
.lenis.lenis-stopped { overflow: hidden; }
.lenis.lenis-smooth iframe { pointer-events: none; }

body {
    font-size:1.6rem;
    font-family: 'Pretendard', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 10px;
    border: 4px solid transparent;
    box-shadow: inset 6px 6px 0 rgba(34, 34, 34, 0.15);
}

::-webkit-scrollbar-thumb:hover {
    border: 4px solid transparent;
    box-shadow: inset 6px 6px 0 rgba(34, 34, 34, 0.3);
}

::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: transparent;
}

header, main, footer, section, aside, article {display:block;}
input, textarea, button, select {font-family:inherit; outline:none; font-size:inherit; border-radius:0;}
a {text-decoration:none; color:inherit; outline:none;}
ul, ol, li, dl, dd, dt {list-style: none;}
img {vertical-align: bottom;}
button, input[type=button], input[type=submit], input[type=reset] { -webkit-appearance: none; -moz-appearance: none; appearance: none; border-radius:0; border:0 none; background:none; cursor:pointer;}

[data-clipboard] {display:inline-block; padding-right:25px; background: url(./../images/icon_clipboard.svg) no-repeat right center; background-size:contain; cursor: pointer;}

/* 레이아웃 */
.header {display:flex; box-sizing: border-box; position:absolute; left:0; top:0; width:100%; height:98px; padding:10px 20px; z-index:10;}
.header .logo {display:flex; align-items:center; position:fixed; top:10px; left:20px; height:78px; will-change: transform; z-index:1;}
.header .logo a {display:block; font-size:0;}
.header .logo span {display:inline-block; overflow:hidden; margin-right:2px; vertical-align:top;}
.header .logo img {width:100%; object-fit:cover;}

.header .logo .lg1 img {transform: translate(0, -130%);}
.header .logo .lg2 img {transform: translate(-130%, 0);}
.header .logo .lg3 img {transform: translate(0%, 130%);}
.header .logo .lg4 img {transform: translate(130%, 0);}

.header .gnb {display:flex; box-sizing:border-box; gap:30px; height:100%; margin-left:auto; padding:10px 0;}
.header .gnb a {display:flex; align-items: center; box-sizing:border-box; height:100%; font-family: 'Neue Montreal';}
.header .gnb a.contact {position:relative; width:165px; padding:0 20px; border-radius:50px; background:#fff;}
.header .gnb a.contact::after {content:''; display:block; position:absolute; right:22px; width:16px; height:16px; background:url(./../images/icon_arrow_right.svg) no-repeat center; background-size:contain;}

.footer {overflow:hidden; box-sizing:border-box; height:100vh; padding:215px 20px 0;}
.footer .credits {position:relative; overflow:hidden; height:160px; margin:0 -20px; white-space:nowrap; font-size:0;}
.footer .credits p {position:absolute; top:0; left:0; font-size:0; white-space: nowrap; animation: marquee 12s linear infinite;}
.footer .credits p.mq2 {animation-delay: 6s; transform: translateX(100%);}
.footer .credits span {display:inline-block; margin-right:30px; font-size: 128px; font-family: 'Faktum Wide'; line-height: 160px; letter-spacing: -6.4px; text-transform: uppercase; }
.footer .mail {display:inline-block; margin-top:30px; padding:10px 20px; border:1px solid #171010; border-radius:50px; font-family: 'Neue Montreal'; font-size:32px; font-weight:800; text-transform: uppercase;}
.footer .tel {display: inline-block; margin-top: 20px; padding: 10px 20px; border: 1px solid #171010; border-radius: 50px; font-family: 'Neue Montreal'; font-size: 32px;}
.footer_info {margin-top:48px; padding-top:65px; border-top:1px solid #171010;}
.footer_info .copyright {font-family: 'Faktum Wide'; font-size:16px; font-weight:600; text-transform: uppercase;}
.footer_info .copy {font-family: 'Pretendard'; font-weight:700;}
.footer_info .corp {font-weight:700;}
.footer_info address {margin-top:60px; font-family:'Neue Montreal'; font-size:16px; font-style:normal;}

/* 공통요소 */
.ico_circle { display:block; width: 100%; height: 100%; background: url(./../images/icon_about_rotate_01.png) no-repeat center; background-size: contain; animation: rotate 8s linear infinite; }

.btn_top {position:absolute; bottom:100px; right:20px; width:43px; height:43px; background:url(./../images/icon_top_arrow.svg) no-repeat center; background-size:contain;}

@keyframes marquee {
    0% { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}