/* Pretendard */

@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-display: swap;
    src: local('Pretendard Black'),
    url(./../font/Pretendard-1.3.9/web/static/woff2/Pretendard-Black.woff2) format('woff2'),
    url(./../font/Pretendard-1.3.9/web/static/woff/Pretendard-Black.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-display: swap;
    src: local('Pretendard ExtraBold'),
    url(./../font/Pretendard-1.3.9/web/static/woff2/Pretendard-ExtraBold.woff2) format('woff2'),
    url(./../font/Pretendard-1.3.9/web/static/woff/Pretendard-ExtraBold.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard Bold'),
    url(./../font/Pretendard-1.3.9/web/static/woff2/Pretendard-Bold.woff2) format('woff2'),
    url(./../font/Pretendard-1.3.9/web/static/woff/Pretendard-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src: local('Pretendard SemiBold'),
    url(./../font/Pretendard-1.3.9/web/static/woff2/Pretendard-SemiBold.woff2) format('woff2'),
    url(./../font/Pretendard-1.3.9/web/static/woff/Pretendard-SemiBold.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: local('Pretendard Medium'),
    url(./../font/Pretendard-1.3.9/web/static/woff2/Pretendard-Medium.woff2) format('woff2'),
    url(./../font/Pretendard-1.3.9/web/static/woff/Pretendard-Medium.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'),
    url(./../font/Pretendard-1.3.9/web/static/woff2/Pretendard-Regular.woff2) format('woff2'),
    url(./../font/Pretendard-1.3.9/web/static/woff/Pretendard-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-display: swap;
    src: local('Pretendard Light'),
    url(./../font/Pretendard-1.3.9/web/static/woff2/Pretendard-Light.woff2) format('woff2'),
    url(./../font/Pretendard-1.3.9/web/static/woff/Pretendard-Light.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-display: swap;
    src: local('Pretendard ExtraLight'),
    url(./../font/Pretendard-1.3.9/web/static/woff2/Pretendard-ExtraLight.woff2) format('woff2'),
    url(./../font/Pretendard-1.3.9/web/static/woff/Pretendard-ExtraLight.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-display: swap;
    src: local('Pretendard Thin'),
    url(./../font/Pretendard-1.3.9/web/static/woff2/Pretendard-Thin.woff2) format('woff2'),
    url(./../font/Pretendard-1.3.9/web/static/woff/Pretendard-Thin.woff) format('woff');
}

/* PP Neue */

@font-face {
    font-family: 'Neue Montreal';
    font-weight: 800;
    font-display: swap;
    src: local('PP Neue Montreal Bold'),
    url(./../font/PP-Neue-Montreal/PPNeueMontreal-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Neue Montreal';
    font-weight: 700;
    font-display: swap;
    src: local('PP Neue Montreal SemiBold Italic'),
    url(./../font/PP-Neue-Montreal/PPNeueMontreal-SemiBolditalic.otf) format('opentype');
}

@font-face {
    font-family: 'Neue Montreal';
    font-weight: 530;
    font-display: swap;
    src: local('PP Neue Montreal Medium'),
    url(./../font/PP-Neue-Montreal/PPNeueMontreal-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Neue Montreal';
    font-weight: 450;
    font-display: swap;
    src: local('PP Neue Montreal Italic'),
    url(./../font/PP-Neue-Montreal/PPNeueMontreal-Italic.otf) format('opentype');
}

@font-face {
    font-family: 'Neue Montreal';
    font-weight: 400;
    font-display: swap;
    src: local('PP Neue Montreal Book'),
    url(./../font/PP-Neue-Montreal/PPNeueMontreal-Book.otf) format('opentype');
}

@font-face {
    font-family: 'Neue Montreal';
    font-weight: 200;
    font-display: swap;
    src: local('PP Neue Montreal Thin'),
    url(./../font/PP-Neue-Montreal/PPNeueMontreal-Thin.otf) format('opentype');
}

/* Faktum */

@font-face {
    font-family: 'Faktum';
    font-weight: 400;
    font-display: swap;
    src: local('Faktum-Regular'),
        url(./../font/Faktum/faktum-regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Faktum';
    font-weight: 100;
    font-display: swap;
    src: local('Faktum-Thin'),
        url(./../font/Faktum/faktum-thin.ttf) format('truetype');
}

/* Faktum Wide */

@font-face {
    font-family: 'Faktum Wide';
    font-weight: 800;
    font-display: swap;
    src: local('Faktum Wide ExtraBold'),
        url(./../font/Faktum/faktum-wide-extrabold.otf) format('opentype');
}

@font-face {
    font-family: 'Faktum Wide';
    font-weight: 700;
    font-display: swap;
    src: local('Faktum Wide Bold'),
        url(./../font/Faktum/faktum-wide-bold.otf) format('opentype');
}

@font-face {
    font-family: 'Faktum Wide';
    font-weight: 600;
    font-display: swap;
    src: local('Faktum Wide SemiBold'),
        url(./../font/Faktum/faktum-wide-semi-bold.otf) format('opentype');
}

@font-face {
    font-family: 'Faktum Wide';
    font-weight: 500;
    font-display: swap;
    src: local('Faktum Wide Medium'),
        url(./../font/Faktum/faktum-wide-medium.otf) format('opentype');
}

@font-face {
    font-family: 'Faktum Wide';
    font-weight: 400;
    font-display: swap;
    src: local('Faktum-WideRegular'),
        url(./../font/Faktum/faktum-wide-regular.ttf) format('truetype');
}