@charset "UTF-8";

#wrap {position:relative; min-height: 100%; background: #F9F5EF;}

/* main */



#amp_amp {
    fill: none;
    stroke: #171010;
    stroke-width: 5;
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
}

#amp_e_01 {
    fill: none;
    stroke: #171010;
    stroke-width: 5;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}

#amp_e_02 {
    fill: none;
    stroke: #171010;
    stroke-width: 5;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}

#amp_e_03 {
    fill: none;
    stroke: #171010;
    stroke-width: 5;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}

#amp_l  {
    fill: none;
    stroke: #171010;
    stroke-width: 5;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}

.main .parallax { overflow: hidden; }
.main .parallax .horizontal {display: flex; flex-wrap: nowrap; width: fit-content;}

.main .main_visual {display:flex; justify-content:center; align-items:center; box-sizing:border-box; flex:none; width:95vw; height: 100vh; padding-top:98px;}
.main .main_visual img {display:block;}

.main .parallax .main_portfolio {flex:none; box-sizing:border-box; height:100vh;}
.main .parallax .list_portfolio {display:flex; flex-wrap:nowrap; height:100%;}
.main .parallax .list_portfolio li {flex:none; width:40vw; transform: translate(0, 20%);}
.main .parallax .list_portfolio .thumbnail {display:block; margin-top:50px; padding-bottom:40%; background-repeat:no-repeat; background-position:center; background-size:cover;}
.main .parallax .list_portfolio .info {box-sizing:border-box; position: relative; height:460px; padding:28px 20px 40px;}
.main .parallax .list_portfolio .tags {display:flex; justify-content:space-between; font-family: 'Faktum Wide'; font-size: 24px; font-weight: 600; line-height: 130%; letter-spacing: -1px; text-transform: uppercase; opacity:0; transform: translate(0, 20px);}
.main .parallax .list_portfolio .name {display:-webkit-box; -webkit-line-clamp:3; -webkit-box-orient: vertical; overflow:hidden; height:180px; margin-top:70px; font-size:50px; font-weight:600; text-align:center; text-transform:uppercase; letter-spacing: -1px; word-break: keep-all; text-overflow: ellipsis; opacity: 0; transform: translate(0, 20px);}
.main .parallax .list_portfolio .detail {display:block; position:absolute; right:10px; bottom:40px; width:110px; height:110px; opacity: 0; transform: translate(0, 20px);}
.main .parallax .list_portfolio .detail::before {content: ''; display: block; position: absolute; top: 50%; left: 50%; width: 80px; height: 80px; background: url(/resources/images/icon_link_arrow.svg) no-repeat center; transform: translate(-50%, -50%); transition: all 0.3s; z-index:1;}
.main .parallax .list_portfolio .detail::after {content:''; display:block; position:absolute; top:50%; left:50%; width:80px; height:80px; border:1px solid #171010; border-radius: 50%; transform: translate(-50%, -50%); transition: all 0.3s;}
.main .parallax .list_portfolio .detail:hover::before {background-image: url(/resources/images/icon_link_arrow_hover.svg);}
.main .parallax .list_portfolio .detail:hover::after {background:#171010;}

/* about */
.about .header .gnb a {color:#F9F5EF;}
.about .header .gnb a.contact {color: #171010;}

.about-we {padding:160px 10px 85px; color:#F9F5EF; background: #171010;}
.about-we .sec_typo {overflow:hidden; position:relative; padding-bottom:20px; z-index:1;}
.about-we .typo {position: relative; font-family: 'Faktum'; font-size:195px; line-height:80%; letter-spacing: -11.7px; text-transform:uppercase; z-index:1;}
.about-we .typo.t1 {padding-right:230px;text-align: right;}
.about-we .typo.t2 {text-align: right;}
.about-we .typo.t2::before {content:''; display:inline-block; width:800px; height:15px; vertical-align:middle; background:#F9F5EF;}
.about-we .typo.t4 {padding-left:340px;}

.about-we .video {display: flex; justify-content: flex-end; margin-top:-110px; padding-right:155px;}
.about-we .wrap_video {width:750px;}
.about-we .wrap_video video {width:100%;}
.about-we .txt_video {margin-top:50px; font-size:24px; letter-spacing:-1px;}
.about-we .txt_we {margin-top:450px; font-family: 'Faktum'; font-size:16px; text-align:center; text-transform:uppercase; letter-spacing:-1px;}

.about-infinite {position:relative; padding:115px 20px 85px;}
.about-infinite .slogan {font-family: 'Faktum Wide'; font-size:70px; font-weight:600; line-height:80%; text-transform:uppercase; letter-spacing:-2px;}
.about-infinite .txt {margin-top:90px; font-size:24px; font-weight:700; letter-spacing:-1px;}
.about-infinite .photos {display:flex; margin-top:60px; justify-content:center; gap:12px;}
.about-infinite .wrap_ico {position: absolute; top: 215px; right: 110px; width: 260px; height: 260px;}
.about-infinite .ico_infinite {display:block; width:100%; height:100%; background: url(/resources/images/icon_about_rotate_01.png) no-repeat center; background-size:contain; animation: rotate 10s linear infinite;}

.about-video {display:flex; align-items:center; justify-content:center; overflow:hidden; height:100vh;}
.about-video video {min-width:100%; min-height:100%;}

.about-solution {padding-bottom:340px;}
.about-solution .txt_intro {display:flex; justify-content:center; padding:270px 0 230px;}
.about-solution .wrap_txt {position:relative;}
.about-solution .wrap_txt p {font-size:50px; line-height:100%; font-weight:300; text-align:center; letter-spacing:-1.5px;}
.about-solution .btn_solution {position:absolute; left:100%; top:50%; background:#fff; height:70px; margin-left:-20px; padding: 0 30px; border-radius:80px; font-size:24px; font-family: 'Faktum Wide'; font-weight:700; transform: translateY(-50%); box-shadow: 3px 11px 20px 0px rgba(0, 0, 0, 0.25);}

.about-solution .list_business {display:flex; align-items: center; flex-direction:column; gap:25px; margin-top:230px; padding:0 20px;}
.about-solution .list_business li {flex:none; display:flex; width:100%; max-width:1600px; border-bottom:5px solid #171010;}
.about-solution .list_business strong {display:block; flex:none; position:relative; font-family: 'Faktum Wide'; font-size:48px; font-weight:500; line-height:100px; white-space: nowrap; text-transform:uppercase;}
.about-solution .list_business .badge {display:block; position:absolute; top:0; left:100%; padding:0 30px; border-radius:50px; height:56px; margin-top:-5px; margin-left:-15px; font-family: 'Neue Montreal'; font-size:40px; font-weight: 800; line-height:56px; background:#fff; box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);}
.about-solution .list_business .tags {display:flex; align-items:center; flex-wrap: wrap; justify-content:flex-end; gap:20px; flex:1; padding:15px 0 15px 15px;}
.about-solution .list_business .tag {display:inline-block; height:68px; padding:0 20px; border:1px solid #171010; border-radius:50px; font-family: 'Faktum Wide'; font-size:24px; line-height:68px; font-weight:700; white-space: nowrap;}

.about-solution .list_mindset {display:flex; margin-top:250px;}
.about-solution .list_mindset li {text-align:center;}
.about-solution .list_mindset .title {display:block; font-family: 'Faktum Wide'; font-size:32px; font-weight:700; line-height: 100%; letter-spacing: -0.5px; text-transform:uppercase;}
.about-solution .list_mindset .thumbnail {overflow:hidden; position:relative; margin-top:78px;}
.about-solution .list_mindset .thumbnail img {display:block; width:100%;}
.about-solution .list_mindset .thumbnail .count {display:block; position:absolute; left:0; bottom:-50px; width:100%; font-family: 'Faktum'; font-size:180px; text-align:center; color:#fff; color:#F9F5EF; letter-spacing: -3.5px;}
.about-solution .list_mindset .name {display:block; margin-top:34px; font-family: 'Faktum Wide'; font-size:24px; font-weight:700; text-transform:uppercase; letter-spacing:-0.5px;}
.about-solution .list_mindset .desc {margin-top:34px;}

.about-better {display:flex; align-items:center; justify-content:center; height:100vh; padding:0 30px; background:#171010;}
.about-better .typo {display:flex; align-items:center; gap:8px; font-family: 'Faktum Wide'; font-size:75px; color:#fff; font-weight:600; text-transform:uppercase;}
.about-better .typo span {flex:none;}
.about-better .typo span.bar {display:inline-block; width:250px; height:7px; flex:1; background:#fff;}

.about-make {padding:0 20px 255px;}
.about-make .desc_make {display:flex; justify-content:space-between;}
.about-make .desc_make .lt {padding-top:565px;}
.about-make .desc_make .lt .txt {margin-bottom:55px; font-size:24px; font-weight:700; letter-spacing:-1px;}
.about-make .desc_make .rt {padding-top:125px; text-align:right;}
.about-make .desc_make .rt .txt {margin-bottom:55px; font-family: 'Faktum Wide'; font-size:32px; line-height:100%; letter-spacing:-1.5px; text-transform:uppercase;}

.about-make .txt_make {font-family: 'Faktum Wide'; font-weight:500; font-size:195px; line-height:80%; letter-spacing: -11.7px;}
.about-make .txt_make.lt {margin-top:255px;}
.about-make .txt_make.rt {text-align:right;}

.about-hall {height:100vh; background:url(/resources/images/img_about_hall.jpg) no-repeat center; background-size:cover;}

.about-motto {height:100vh;}
.about-motto .list_motto {display:flex; height:100%; align-items: center; overflow:hidden;}
.about-motto .list_motto li {display:flex; align-items:center; box-sizing:border-box; flex:none; width:100%; padding:0 15% 0 25%; font-weight: 700; letter-spacing: -1.5px;}
.about-motto .list_motto strong {flex:none; width:210px; margin-right:265px; font-size:50px;}
.about-motto .list_motto p {font-size:24px; word-break: keep-all;}

.about-hall2 {height:100vh; background: url(/resources/images/temp_video.png) no-repeat center; background-size: cover;}

.about-history {padding:180px 30px 300px;}
.about-history h3 {max-width: 1560px; margin: 0 auto; font-family: 'Faktum Wide'; font-weight:700; font-size:48px; letter-spacing: -1px;}
.about-history .list_history {max-width:1560px; margin:75px auto 0;}
.about-history .list_history dt {padding:25px 0 15px; border-bottom:1px solid #171010; font-family: 'Faktum'; font-size:36px; letter-spacing:-0.5px;}
.about-history .list_history dd {padding:80px 30px 130px; cursor:pointer;}
.about-history .btn_more {display:block; margin:120px auto 0;}

.about-grow {display:flex; height:100vh;}
.about-grow .bg_grow {flex:auto; background:url(/resources/images/bg_grow_01.jpg) no-repeat center; background-size:cover;}
.about-grow .txt_grow {display:flex; flex:none; flex-direction:column; box-sizing:border-box; width:992px; max-width:100%; padding:20px 20px 20px 45px;}
.about-grow .txt_grow .t1 {text-align:right; font-family:'Faktum Wide'; font-size: 94px; font-weight:500; line-height:80%; text-transform:uppercase; letter-spacing:-1.5px;}
.about-grow .bg_txt_grow {margin-top:40px; flex:1; background: url(/resources/images/bg_grow_02.jpg) no-repeat center; background-size: contain;}
.about-grow .txt_grow .t2 {margin-top:60px; font-size:24px; font-weight:700; letter-spacing:-1px;;}
.about-grow .txt_grow .t2 span {font-family:'Faktum Wide'; letter-spacing:-1px;}

.content_contact {padding:98px 0 100px;}
.contact .txt {padding:0 20px;}
.contact .t1 {padding-top:90px; font-family: 'Faktum Wide'; font-size:200px; font-weight:500; line-height:80%; letter-spacing: -10px; text-transform: uppercase;}
.contact .t2 {margin-top:100px; font-family: 'Faktum Wide'; font-size: 36px; font-weight:600; line-height: 100%; letter-spacing: -1px; text-transform: uppercase;}
.contact .map {margin-top:90px; padding:0 20px;}
.contact .infos {display:flex; justify-content:center; margin-top:125px;}
.contact .infos dt {font-family: 'Neue Montreal'; font-size:20px;}
.contact .infos dd {margin:10px 0 70px; font-family: 'Neue Montreal'; font-size:20px;}
.contact .infos dd a {font-weight: 800; text-decoration: underline;}
.contact .talk {margin-top:80px; text-align:center;}
.contact .talk a {display:inline-block; position:relative; padding-right:60px; font-family: 'Faktum Wide'; font-weight:600; font-size:96px; letter-spacing:-5px; text-decoration:underline;}
.contact .talk a::after {content:''; display:block; position:absolute; top: 0; left:100%; width:82px; height:56px; margin-left:-80px; border-radius:50px; background:#fff url(/resources/images/icon_post.png) no-repeat center; box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);}