/* kb */
#wrap.kb {background-color:#fff;}
#wrap.kb .work_intro_bg {background-image:url(./../../resources/images/work/kb/img_intro.jpg);}

#wrap.kb .work_kb_01 {padding:0 0 150px; text-align:center;}
#wrap.kb .work_kb_01 img {max-width:100%;}
#wrap.kb .work_kb_02 {padding:160px 100px; background:#ffde2d;}
#wrap.kb .work_kb_02 ul {display:flex; flex-wrap:wrap; gap:12.5vw 0; position:relative; margin:0 -10px;}
#wrap.kb .work_kb_02 img {max-width:100%;}
#wrap.kb .work_kb_02 li.image,
#wrap.kb .work_kb_02 li.empty {box-sizing:border-box; width:25%; padding:0 10px; text-align:center;}
#wrap.kb .work_kb_02 li.image img {filter:drop-shadow(16px 16px 20px rgba(0, 0, 0, 0.05));}
#wrap.kb .work_kb_02 .mascot {position:absolute; right:30px; bottom:0; width:auto; max-width:calc(40% - 30px);}

#wrap.kb .work_kb_03 {padding:165px 15px 300px; text-align:center;}
#wrap.kb .work_kb_03 img {max-width:100%;}
#wrap.kb .work_kb_03 .kb_pc {margin-top:230px;}
#wrap.kb .work_kb_03 .kb_pc img {filter:drop-shadow(16px 16px 20px rgba(0, 0, 0, 0.05));}
#wrap.kb .work_kb_03 .kb_pc + .kb_pc {margin-top:100px;}

@media all and (max-width:769px) {
    #wrap.kb .work_intro_bg {background-image:url(./../../resources/images/work/kb/img_intro_mobile.jpg);}
    #wrap.kb .work_kb_01 {padding:0 0 120px;}

    #wrap.kb .work_kb_02 {padding:70px 50px 110px;}
    #wrap.kb .work_kb_02 ul {flex-direction: column; gap:42px;}
    #wrap.kb .work_kb_02 li.image {width:100%;}
    #wrap.kb .work_kb_02 li.empty {display:none;}
    #wrap.kb .work_kb_02 .mascot {position:static; width:100%; max-width: none; padding:50px 0; text-align:center;}

    #wrap.kb .work_kb_03 {padding-top:75px;}
    #wrap.kb .work_kb_03 .kb_pc {margin-top:70px;}
    #wrap.kb .work_kb_03 .kb_pc + .kb_pc {margin-top:35px;}
}