/* work 상세 공통 */
#wrap.work-detail {font-family: 'Faktum Wide'; background-color:#fff;}
#wrap.work-detail .work_title .mob_br {display:block;}
#wrap.work-detail .work_title .pc_br {display:none;}
#wrap.work-detail .header_logo {display:none;}
.work_intro {position:relative; height:100vh;}
.work_intro_wrap {clip: rect(0, auto, auto, 0); position:absolute; top:0; left:0; width:100%; height:100%;}
.work_intro_bg {display:flex; align-items: center; position:fixed; top:0; left:0; width:100%; height:100%; background-repeat:no-repeat; background-position:center; background-size: cover;}
.work_title {flex:1; padding:0 140px; font-size:48px; font-weight:700; word-break:keep-all;}
.work_title img {display:block; max-width:100%;}
.work_info {box-sizing:border-box; max-width:990px; margin:0 auto; padding:100px 15px;}
.work_info_title {font-size:28px; font-weight:700; word-break: keep-all;}
.work_info_summary {display:flex; justify-content: space-between; margin-top:36px;}
.work_info_summary li {width:200px;}
.work_info_summary strong {display:block; font-size:16px; font-weight:600;}
.work_info_summary span {display:block; margin-top:10px; padding-top:10px; border-top:2px solid #171010; font-size:15px; font-weight:400;}
.work_info_txt {margin-top:60px; font-size:15px; line-height:160%; word-break:keep-all;}
.work_info_txt + .work_info_txt {margin-top:0;}
.link_site {display:flex; align-items:center; gap:10px; width:fit-content; margin-top:36px; padding:18px 24px; border-radius: 50px; font-size:18px; font-weight:500; color:#fff; background:#28282c;}
.link_site::after {content:''; display:block; width:20px; height:20px; background:url(./../images/work/icon_arrow_right.png) no-repeat center;}

/* 모바일 우선으로 반응형 처리하는것이 모바일 성능에 유리함. */
@media all and (min-width:769px) {
    .work_title {font-size:5.2vw;}
    #wrap.work-detail .work_title .mob_br {display:none;}
    #wrap.work-detail .work_title .pc_br {display:block;}
}

@media all and (max-width:768px) {
    /* work 상세 공통 */
    .work_intro {height:80vh;}
    .work_intro_bg {height:80vh;}
    .work_title {padding-left:20px;}
    .work_info {padding:80px 20px 120px;}
    .work_info_title {font-size:20px; font-weight:500;}
    .work_info_summary {flex-direction: column; gap:40px; margin-top:32px;}
    .work_info_summary li {width:auto;}
    .work_info_summary strong {font-size:14px;}
    .work_info_summary span {font-size:14px;}
    .work_info_txt {font-size:14px;}
    .work_info_txt + .work_info_txt {margin-top:24px;}
    .link_site {margin-top:32px; font-size:14px;}
    .link_site::after {width:16px; height:16px; background-size:14px;}
}

/* kb */
#wrap.kb .work_intro_bg {background-image:url(./../../resources/images/work/kb/img_intro.jpg);}
#wrap.kb .work_kb_01 {padding:0 0 150px; text-align:center;}
#wrap.kb .work_kb_01 img {max-width:100%;}
#wrap.kb .work_kb_02 {padding:160px 100px; background:#ffde2d;}
#wrap.kb .work_kb_02 ul {display:flex; flex-wrap:wrap; gap:12.5vw 0; position:relative; margin:0 -10px;}
#wrap.kb .work_kb_02 img {max-width:100%;}
#wrap.kb .work_kb_02 li.image,
#wrap.kb .work_kb_02 li.empty {box-sizing:border-box; width:25%; padding:0 10px; text-align:center;}
#wrap.kb .work_kb_02 li.image img {filter:drop-shadow(16px 16px 20px rgba(0, 0, 0, 0.05));}
#wrap.kb .work_kb_02 .mascot {position:absolute; right:30px; bottom:0; width:auto; max-width:calc(40% - 30px);}
#wrap.kb .work_kb_03 {padding:165px 15px 300px; text-align:center;}
#wrap.kb .work_kb_03 img {max-width:100%;}
#wrap.kb .work_kb_03 .kb_pc {margin-top:230px;}
#wrap.kb .work_kb_03 .kb_pc img {filter:drop-shadow(16px 16px 20px rgba(0, 0, 0, 0.05));}
#wrap.kb .work_kb_03 .kb_pc + .kb_pc {margin-top:100px;}

@media all and (max-width:768px) {
    #wrap.kb .work_intro_bg {background-image:url(./../../resources/images/work/kb/img_intro_mobile.jpg);}
    #wrap.kb .work_kb_01 {padding:0 0 120px;}
    #wrap.kb .work_kb_02 {padding:70px 50px 110px;}
    #wrap.kb .work_kb_02 ul {flex-direction: column; gap:42px;}
    #wrap.kb .work_kb_02 li.image {width:100%;}
    #wrap.kb .work_kb_02 li.empty {display:none;}
    #wrap.kb .work_kb_02 .mascot {position:static; width:100%; max-width: none; padding:50px 0; text-align:center;}
    #wrap.kb .work_kb_03 {padding-top:75px;}
    #wrap.kb .work_kb_03 .kb_pc {margin-top:70px;}
    #wrap.kb .work_kb_03 .kb_pc + .kb_pc {margin-top:35px;}
}

/* ibk_box */
#wrap.ibk_box .work_intro_bg {background-image:url(./../../resources/images/work/ibk_box/img_intro_mobile.jpg);}

#wrap.ibk_box .work_title {padding-right:0; color:#fff;}
#wrap.ibk_box .work_title .onlypc {display:none;}
#wrap.ibk_box .work_ibk_box {margin-top:100px; padding-bottom:350px; text-align:center; background: linear-gradient(180deg, #FFF 0%, rgba(97, 73, 53, 0.80) 50%, #191918 100%);}
#wrap.ibk_box .work_ibk_box img {max-width:100%;}
#wrap.ibk_box .work_ibk_01 {box-sizing:border-box; max-width:890px; margin:0 auto; padding:0 15px; text-align:center;}
#wrap.ibk_box .work_ibk_02 {margin-top:30px; padding:0 15px;}
#wrap.ibk_box .work_ibk_03 {display:none;}

@media all and (min-width:769px) {
    #wrap.ibk_box .work_intro_bg {background-image:url(./../../resources/images/work/ibk_box/img_intro.jpg);}
    #wrap.ibk_box .work_title .onlypc {display:block;}
    #wrap.ibk_box .work_ibk_02 {margin-top:100px;}
    #wrap.ibk_box .work_ibk_03 {display:block; margin-top:190px; padding:0 15px;}
}

/* seolbi */
#wrap.seolbi .work_intro_bg {align-items: flex-end; background-image:url(./../../resources/images/work/seolbi/img_intro_mobile.jpg);}
#wrap.seolbi .work_title {padding-right:0; padding-bottom:100px; color:#fff;}
#wrap.seolbi .work_seolbi_box {text-align:center;}
#wrap.seolbi .work_seolbi_box img {max-width:100%;}
#wrap.seolbi .work_seolbi_01 {padding:100px 15px 130px; background: linear-gradient(180deg, #2B3844 0%, #010202 100%);}
#wrap.seolbi .work_seolbi_01 li + li {margin-top:40px; }
#wrap.seolbi .work_seolbi_02 {overflow:hidden; padding:120px 0 140px; background: linear-gradient(180deg, #E8E8E8 0%, #939393 100%);}
#wrap.seolbi .work_seolbi_02 ul {display:flex; flex-wrap: nowrap; gap:20px; justify-content: center;}
#wrap.seolbi .work_seolbi_02 li {min-width:150px;}
#wrap.seolbi .work_seolbi_03 {display:block; padding:140px 30px; background: linear-gradient(180deg, #2777B0 0%, #1B76B0 100%);}
#wrap.seolbi .work_seolbi_03 ul {display:flex; flex-direction:column; gap:40px;}
#wrap.seolbi .work_seolbi_04 {padding:140px 15px 170px; background: linear-gradient(180deg, #2B3844 0%, #010202 100%);}
#wrap.seolbi .work_seolbi_04 ul {display:flex; flex-direction: column; gap:55px;}

@media all and (min-width:769px) {
    #wrap.seolbi .work_intro_bg {align-items: center; background-image:url(./../../resources/images/work/seolbi/img_intro.jpg);}
    #wrap.seolbi .work_title {padding-bottom:0;}
    #wrap.seolbi .work_seolbi_01 {padding:220px 0 310px;}
    #wrap.seolbi .work_seolbi_01 li + li {margin-top:180px; }
    #wrap.seolbi .work_seolbi_02 {padding:450px 0;}
    #wrap.seolbi .work_seolbi_02 ul {gap:0;}
    #wrap.seolbi .work_seolbi_02 li {max-width:none;}
    #wrap.seolbi .work_seolbi_03 {padding:320px 15px;}
    #wrap.seolbi .work_seolbi_03 ul {display:block;}
    #wrap.seolbi .work_seolbi_03 ul::after {content:''; display:block; clear:both;}
    #wrap.seolbi .work_seolbi_03 li {margin:2%; float:left; width:46%; text-align:right;}
    #wrap.seolbi .work_seolbi_03 li:nth-child(2) {float:right; padding-top:12%; text-align:left;}
    #wrap.seolbi .work_seolbi_04 {padding:320px 15px;}
    #wrap.seolbi .work_seolbi_04 ul {flex-direction: row; justify-content: center; gap:20px;}
    #wrap.seolbi .work_seolbi_04 li {flex:none;}
}

/* mydata */
#wrap.mydata .work_intro_bg {align-items: flex-start; background-image:url(./../../resources/images/work/mydata/img_intro_mobile.jpg); background-position:top center;}
#wrap.mydata .work_title {text-align:center; padding:70px 0;}
#wrap.mydata .work_mydata_box {text-align:center;}
#wrap.mydata .work_mydata_box img {max-width:100%;}
#wrap.mydata .work_mydata_01 {background:#e2f3fd;}
#wrap.mydata .work_mydata_03 {background:#e2f3fd;}

@media all and (min-width:769px) {
    #wrap.mydata .work_intro_bg {align-items: center; background-image:url(./../../resources/images/work/mydata/img_intro.jpg); background-position:center;}
    #wrap.mydata .work_title {padding:0 140px; text-align:left;}
}

/* winwin */
#wrap.winwin .work_intro_bg {align-items: flex-start; background-image:url(./../../resources/images/work/winwin/img_intro_mobile.jpg);}
#wrap.winwin .work_title {text-align:center; padding:70px 0; color:#fff;}
#wrap.winwin .work_winwin_box {text-align:center;}
#wrap.winwin .work_winwin_box img {max-width:100%;}
#wrap.winwin .work_winwin_01 {margin-top:-100px;}
#wrap.winwin .work_winwin_02 {background:#262161;}
#wrap.winwin .work_winwin_03 {padding:80px 0 200px;}
#wrap.winwin .mascot {width:270px;}


@media all and (min-width:769px) {
    #wrap.winwin .work_intro_bg {align-items: center; background-image:url(./../../resources/images/work/winwin/img_intro.jpg);}
    #wrap.winwin .work_title {padding:0 140px; text-align:left;}
    #wrap.winwin .work_winwin_03 {padding-top:100px;}
    #wrap.winwin .mascot {width:auto;}
}


/* sol */
#wrap.sol .work_intro_bg {background-image:url(./../../resources/images/work/sol/img_intro_mobile.jpg);}
#wrap.sol .work_title {color:#fff; padding:0 0 0 20px;}
#wrap.sol .work_sol_box {text-align:center;}
#wrap.sol .work_sol_box img {max-width:100%;}
#wrap.sol .work_sol_02 {background:#D9D9D9;}
#wrap.sol .mascot {margin:-30px 0 50px;}
#wrap.sol .mascot img {width:85px;}
#wrap.sol .work_sol_03 {padding:80px 0 100px;}


@media all and (min-width:769px) {
    #wrap.sol .work_intro_bg {align-items: center; background-image:url(./../../resources/images/work/sol/img_intro.jpg);}
    #wrap.sol .work_title {color:#171010; padding:0 140px;}
    #wrap.sol .work_sol_01 {margin-bottom:270px;}
    #wrap.sol .mascot {margin:0;}
    #wrap.sol .mascot img {position:absolute; right:22%; width:12%; z-index:1; transform: translateY(-50%);}
    #wrap.sol .work_sol_03 {padding:200px 0 220px;}
}

/* foodnet */
#wrap.foodnet .work_intro_bg {background-image:url(./../../resources/images/work/foodnet/img_intro_mobile.jpg);}
#wrap.foodnet .work_title {color:#fff; padding:0 0 0 20px;}
#wrap.foodnet .work_foodnet_box {text-align:center;}
#wrap.foodnet .work_foodnet_box img {max-width:100%;}
#wrap.foodnet .work_foodnet_02 {background:#F6F8F8;}
#wrap.foodnet .work_foodnet_04 {background:#efefef;}
#wrap.foodnet .work_foodnet_05 {background:#007250;}
#wrap.foodnet .work_foodnet_05 li ~ li {display:none;}
#wrap.foodnet .work_foodnet_06 {background:#000; padding-bottom:100px;}


@media all and (min-width:769px) {
    #wrap.foodnet .work_intro_bg {align-items: center; background-image:url(./../../resources/images/work/foodnet/img_intro.jpg);}
    #wrap.foodnet .work_title {padding:0 140px;}
    #wrap.foodnet .work_foodnet_01 {background:url(./../../resources/images/work/foodnet/img_01_bg.png) no-repeat center; background-size:cover;}
    #wrap.foodnet .work_foodnet_03 {background:url(./../../resources/images/work/foodnet/img_03_bg.png) no-repeat center; background-size:cover;}
    #wrap.foodnet .work_foodnet_05 {padding:350px 0 450px;}
    #wrap.foodnet .work_foodnet_05 ul {display:flex; flex-direction:column; gap:95px;}
    #wrap.foodnet .work_foodnet_05 li ~ li {display:block;}
    #wrap.foodnet .work_foodnet_06 {padding:300px 0;}
}

/* ibk_ventures */
#wrap.ibk_ventures .work_intro_bg {background-image:url(./../../resources/images/work/ibk_ventures/img_intro_mobile.jpg);}
#wrap.ibk_ventures .work_title {color:#fff; padding:0 0 0 20px;}
#wrap.ibk_ventures .work_ibk_ventures_box {text-align:center;}
#wrap.ibk_ventures .work_ibk_ventures_box img {max-width:100%;}
#wrap.ibk_ventures .work_ibk_ventures_01 {overflow:hidden; position:relative;}
/* 비디오 품질때문에 테두리 잘리도록 처리함 */
#wrap.ibk_ventures .work_ibk_ventures_01 .video_sec {height:auto;}
#wrap.ibk_ventures .work_ibk_ventures_01 video {min-width:101%; margin:-10px 0;}
#wrap.ibk_ventures .work_ibk_ventures_01 .slogan {position:absolute; left:50%; top:50%; width:147px; transform: translate(-50%, -50%);}
#wrap.ibk_ventures .work_ibk_ventures_02 {padding:80px 40px; background:#E9EEF2;}
#wrap.ibk_ventures .work_ibk_ventures_02 ul {display:flex; flex-direction: column; gap:15px;}
#wrap.ibk_ventures .work_ibk_ventures_03 ul {display:flex; flex-direction: column; padding:30px 0;}

@media all and (min-width:769px) {
    #wrap.ibk_ventures .work_intro_bg {align-items:center; background-image:url(./../../resources/images/work/ibk_ventures/img_intro.jpg);}
    #wrap.ibk_ventures .work_title {padding:0 140px; letter-spacing: 40px;}
    #wrap.ibk_ventures .work_ibk_ventures_01 .slogan {width:auto;}
    #wrap.ibk_ventures .work_ibk_ventures_02 {padding:260px 250px;}
    #wrap.ibk_ventures .work_ibk_ventures_02 ul {gap:80px;}
    #wrap.ibk_ventures .work_ibk_ventures_03 {padding:150px 0 200px;;}
    #wrap.ibk_ventures .work_ibk_ventures_03 ul {flex-direction:row; flex-wrap:wrap; justify-content: center;}
    #wrap.ibk_ventures .work_ibk_ventures_03 li {max-width:33.33%;}
}

/* shinhan_bank */
#wrap.shinhan_bank .work_intro_bg {background-image:url(./../../resources/images/work/shinhan_bank/img_intro_mobile.jpg);}
#wrap.shinhan_bank .work_title {color:#fff; padding:0 0 0 20px;}
#wrap.shinhan_bank .work_shinhan_bank_box {text-align:center;}
#wrap.shinhan_bank .work_shinhan_bank_box img {max-width:100%;}
#wrap.shinhan_bank .work_shinhan_bank_01 .imgs {display:flex;}
#wrap.shinhan_bank .work_shinhan_bank_01 .imgs li {flex:1; padding-top:33%;}
#wrap.shinhan_bank .work_shinhan_bank_01 .imgs li:nth-child(1) {background:url(./../../resources/images/work/shinhan_bank/img_01_01.jpg) no-repeat center; background-size:cover;}
#wrap.shinhan_bank .work_shinhan_bank_01 .imgs li:nth-child(2) {background:url(./../../resources/images/work/shinhan_bank/img_01_02.jpg) no-repeat center; background-size:cover;}
#wrap.shinhan_bank .work_shinhan_bank_01 .colors {display:flex; flex-direction: column;}
#wrap.shinhan_bank .work_shinhan_bank_01 .colors li {box-sizing:border-box; padding:30px 0 80px 20px; text-align:left;}
#wrap.shinhan_bank .work_shinhan_bank_01 .colors li:nth-child(1) {flex:1; color:#fff; background:#3A7DF9;}
#wrap.shinhan_bank .work_shinhan_bank_01 .colors li:nth-child(2) {flex:1; color:#333; background:#DEEEFF;}
#wrap.shinhan_bank .work_shinhan_bank_01 .colors li:nth-child(3) {flex:1; color:#fff; background:#2A4475;}
#wrap.shinhan_bank .work_shinhan_bank_01 .colors strong {display:block; font-size:20px; font-weight:600;}
#wrap.shinhan_bank .work_shinhan_bank_01 .colors span {display:block; margin-top:2px; font-size:16px; font-weight:700;}

#wrap.shinhan_bank .work_shinhan_bank_02 {padding-bottom:70px;}
#wrap.shinhan_bank .work_shinhan_bank_02 .icons {display:flex; row-gap:50px; flex-wrap:wrap; max-width:1530px; margin:0 auto; padding:80px 0;}
#wrap.shinhan_bank .work_shinhan_bank_02 .icons li {width:33.33%;}
#wrap.shinhan_bank .work_shinhan_bank_02 .icons img {max-width:100%; vertical-align: bottom;}
#wrap.shinhan_bank .work_shinhan_bank_02 .pages {display:flex; flex-direction:column; gap:30px;}
#wrap.shinhan_bank .work_shinhan_bank_02 .friends {width:280px;}
#wrap.shinhan_bank .work_shinhan_bank_03 {background:#3A7DF9;}
#wrap.shinhan_bank .work_shinhan_bank_04 {overflow:hidden; padding:150px 0;}
#wrap.shinhan_bank .work_shinhan_bank_04 ul {display:flex; flex-wrap:wrap; margin:0 -50px;}
#wrap.shinhan_bank .work_shinhan_bank_04 ul li {width:33.33%;}
#wrap.shinhan_bank .work_shinhan_bank_04 ul li:nth-child(3n-1) {margin-top:-70px;}

@media all and (min-width:769px) {
    #wrap.shinhan_bank .work_intro_bg {align-items:center; background-image:url(./../../resources/images/work/shinhan_bank/img_intro.jpg);}
    #wrap.shinhan_bank .work_title {padding:0 140px; letter-spacing: 40px;}
    #wrap.shinhan_bank .work_shinhan_bank_01 .colors {flex-direction: row;}
    #wrap.shinhan_bank .work_shinhan_bank_01 .colors li {padding:40px 0 140px 40px;}
    #wrap.shinhan_bank .work_shinhan_bank_01 .colors li:nth-child(1) {flex:2;}

    #wrap.shinhan_bank .work_shinhan_bank_02 .icons {row-gap: 90px; padding:200px 0;}
    #wrap.shinhan_bank .work_shinhan_bank_02 .icons li {width:11.11%;}

    #wrap.shinhan_bank .work_shinhan_bank_02 {padding-bottom:150px;}
    #wrap.shinhan_bank .work_shinhan_bank_02 .friends {width:auto;}
    #wrap.shinhan_bank .work_shinhan_bank_04 {padding:350px 0 200px;}
    #wrap.shinhan_bank .work_shinhan_bank_04 ul {max-width:1360px; margin:0 auto;}
    #wrap.shinhan_bank .work_shinhan_bank_04 ul li:nth-child(3n-1) {margin-top:-200px;}
}

@media all and (min-width:1025px) {
    #wrap.shinhan_bank .work_shinhan_bank_01 .colors li:nth-child(1) {flex:3; padding-left:140px;}
}

/* ibk_moca */
#wrap.ibk_moca .work_intro_bg {align-items: flex-start; background-image:url(./../../resources/images/work/ibk_moca/img_intro_mobile.jpg);}
#wrap.ibk_moca .work_title {padding:100px 0 0 20px;}
#wrap.ibk_moca .work_ibk_moca_box {text-align:center;}
#wrap.ibk_moca .work_ibk_moca_box img {max-width:100%;}
#wrap.ibk_moca .work_ibk_moca_01 {overflow:hidden; position:relative;}
#wrap.ibk_moca .work_ibk_moca_01 .assets {display:flex; flex-direction: column; gap:60px; padding:0 20px;}
#wrap.ibk_moca .work_ibk_moca_01 .graphic2 {margin-top:60px; padding-top:110%; background:url(./../images/work/ibk_moca/img_01_04_mob.jpg) no-repeat center; background-size:cover;}
#wrap.ibk_moca .work_ibk_moca_02 {padding-top:110%; background:url(./../images/work/ibk_moca/img_02_mob.jpg) no-repeat center; background-size:cover;}
#wrap.ibk_moca .work_ibk_moca_03 {background:#0C0B13;}
#wrap.ibk_moca .work_ibk_moca_03 .pages {padding:0 20px;}
#wrap.ibk_moca .work_ibk_moca_03 .pages li:first-child {display:none;}
#wrap.ibk_moca .work_ibk_moca_03 .icons {margin-top:60px; padding:0 20px;}
#wrap.ibk_moca .work_ibk_moca_03 .ending {display:flex; flex-direction: column; gap:20px; margin-top:40px; padding:20px;}

@media all and (min-width:769px) {
    #wrap.ibk_moca .work_intro_bg {align-items:center; background-image:url(./../../resources/images/work/ibk_moca/img_intro.jpg);}
    #wrap.ibk_moca .work_title {padding:0 140px;}
    #wrap.ibk_moca .work_ibk_moca_01 .assets {padding:0 40px; gap:40px;}
    #wrap.ibk_moca .work_ibk_moca_01 .graphic2 {padding-top:78%; background-image:url(./../images/work/ibk_moca/img_01_04.jpg);}
    #wrap.ibk_moca .work_ibk_moca_02 {padding-top:48%; background-image:url(./../images/work/ibk_moca/img_02.jpg);}

    #wrap.ibk_moca .work_ibk_moca_03 {overflow:hidden;}
    #wrap.ibk_moca .work_ibk_moca_03 .pages {display:flex; flex-wrap:wrap; justify-content: center;}
    #wrap.ibk_moca .work_ibk_moca_03 .pages li {display:flex; overflow:hidden; justify-content: center;}
    #wrap.ibk_moca .work_ibk_moca_03 .pages li:first-child {display:block; margin-bottom:80px;}
    #wrap.ibk_moca .work_ibk_moca_03 .pages li + li {margin-left:-340px; margin-right:-340px;}
    #wrap.ibk_moca .work_ibk_moca_03 .icons {margin:180px -60px 0; padding:0;}
    #wrap.ibk_moca .work_ibk_moca_03 .ending {flex-direction: row; gap:40px; margin-top:180px; padding:0 40px 60px;}
}


/* sh_lgm */
#wrap.sh_lgm .work_intro_bg {align-items:center; background-image:url(./../../resources/images/work/sh_lgm/img_intro_mobile.jpg);}
#wrap.sh_lgm .work_title {padding:0 0 0 20px;}
#wrap.sh_lgm .work_sh_lgm_box {text-align:center; background:#122D6E;}
#wrap.sh_lgm .work_sh_lgm_box img {max-width:100%;}
#wrap.sh_lgm .work_sh_lgm_01 {overflow:hidden;}
#wrap.sh_lgm .work_sh_lgm_01 img {width:100%; vertical-align:bottom;}
#wrap.sh_lgm .work_sh_lgm_02 {overflow:hidden; position:relative; padding-top:60px; background:url(./../../resources/images/work/sh_lgm/img_02_bg.png) no-repeat center top; background-size:contain;}
#wrap.sh_lgm .work_sh_lgm_02 .img01 {position:relative; padding:0 20px; z-index:1;}
#wrap.sh_lgm .work_sh_lgm_02 .ship {width:55%; margin-top:-80px;}
#wrap.sh_lgm .work_sh_lgm_02 .img02 {margin-top:20px; padding:0 20px;}
#wrap.sh_lgm .work_sh_lgm_02 .img02 img {width:100%;}
#wrap.sh_lgm .work_sh_lgm_02 .img03 {margin-top:60px; padding:0 20px;}
#wrap.sh_lgm .work_sh_lgm_02 .img03 img {width:100%;}
#wrap.sh_lgm .work_sh_lgm_02 .icons {margin-top:60px;}
#wrap.sh_lgm .work_sh_lgm_02 .icons02 {display:flex; justify-content:space-between; margin:60px 20px 0; padding:20px 25px; border-radius: 10px; background:#001851;}
#wrap.sh_lgm .work_sh_lgm_02 .icons02 li {width:12.5%;}
#wrap.sh_lgm .work_sh_lgm_03 {margin-top:60px;}
#wrap.sh_lgm .work_sh_lgm_03 .img02 {display:flex; flex-direction: column; gap:40px; padding:60px 0 40px;}
#wrap.sh_lgm .work_sh_lgm_04 img {width:100%;}
#wrap.sh_lgm .work_sh_lgm_05 img {width:100%;}


@media all and (min-width:769px) {
    #wrap.sh_lgm .work_intro_bg {background-image:url(./../../resources/images/work/sh_lgm/img_intro.jpg);}
    #wrap.sh_lgm .work_title {padding:0 140px;}
    #wrap.sh_lgm .work_sh_lgm_02 {padding-top:280px;}
    #wrap.sh_lgm .work_sh_lgm_02 .ship {width:auto; margin-top:-240px; text-align:left;}
    #wrap.sh_lgm .work_sh_lgm_02 .img02 {margin:0 -110px 0 0; padding:0;}
    #wrap.sh_lgm .work_sh_lgm_02 .img02 img {width:auto;}
    #wrap.sh_lgm .work_sh_lgm_02 .img03 {margin-top:620px; padding:0 0 0 80px; text-align:left;}
    #wrap.sh_lgm .work_sh_lgm_02 .img03 img {width:auto;}
    #wrap.sh_lgm .work_sh_lgm_02 .icons {margin-top:-1170px;}
    #wrap.sh_lgm .work_sh_lgm_02 .icons02 {margin:750px 80px 0; padding:120px 140px; border-radius: 40px;}
    #wrap.sh_lgm .work_sh_lgm_03 {margin-top:320px;}
    #wrap.sh_lgm .work_sh_lgm_03 .img02 {padding:0;}
    #wrap.sh_lgm .work_sh_lgm_03 li + li {display:none;}
    #wrap.sh_lgm .work_sh_lgm_04 {margin-top:240px;}
}



/* foodnet_fs */
#wrap.foodnet_fs .work_intro_bg {align-items: flex-start; background-image:url(./../../resources/images/work/foodnet_fs/img_intro_mobile.jpg);}
#wrap.foodnet_fs .work_title {padding:100px 0 0 20px;}
#wrap.foodnet_fs .work_foodnet_fs_box {text-align:center; background:#007651; }
#wrap.foodnet_fs .work_foodnet_fs_box img {max-width:100%;}
#wrap.foodnet_fs .work_foodnet_fs_01 {overflow:hidden; position:relative;}
#wrap.foodnet_fs .work_foodnet_fs_01 .imgs {display:flex; flex-direction: column;}
#wrap.foodnet_fs .work_foodnet_fs_01 .imgs li {flex:1; padding-top:100%;}
#wrap.foodnet_fs .work_foodnet_fs_01 .imgs li:nth-child(1) {background:url(./../../resources/images/work/foodnet_fs/img_01_01.jpg) no-repeat center; background-size:cover;}
#wrap.foodnet_fs .work_foodnet_fs_01 .imgs li:nth-child(2) {background:url(./../../resources/images/work/foodnet_fs/img_01_02.jpg) no-repeat center; background-size:cover;}
#wrap.foodnet_fs .work_foodnet_fs_01 .colors img {width:100%;}
#wrap.foodnet_fs .work_foodnet_fs_02 {padding:60px 0; background:#F2F8F6;}
#wrap.foodnet_fs .work_foodnet_fs_02 ul {display:flex; flex-direction: column; margin-top:40px;}
#wrap.foodnet_fs .work_foodnet_fs_02 li.typo {margin-bottom:25px;}
#wrap.foodnet_fs .work_foodnet_fs_03 .imgs {display:flex; flex-direction: column;}
#wrap.foodnet_fs .work_foodnet_fs_03 .imgs li {flex:1; padding-top:88.88%;}
#wrap.foodnet_fs .work_foodnet_fs_03 .imgs li:nth-child(1) {background:url(./../../resources/images/work/foodnet_fs/img_03_01.jpg) no-repeat center; background-size:cover;}
#wrap.foodnet_fs .work_foodnet_fs_03 .imgs li:nth-child(2) {background:url(./../../resources/images/work/foodnet_fs/img_03_02.jpg) no-repeat center; background-size:cover;}
#wrap.foodnet_fs .work_foodnet_fs_04 {padding:60px 0 65px; background:url(./../images/work/foodnet_fs/img_04_bg.jpg) no-repeat center; background-size:cover;}
#wrap.foodnet_fs .work_foodnet_fs_05 {padding:40px 0 20px; background:url(./../images/work/foodnet_fs/img_05_bg.png) no-repeat center bottom; background-size:contain;}
#wrap.foodnet_fs .work_foodnet_fs_05 img {vertical-align: top;}

@media all and (min-width:769px) {
    #wrap.foodnet_fs .work_intro_bg {align-items:center; background-image:url(./../../resources/images/work/foodnet_fs/img_intro.jpg);}
    #wrap.foodnet_fs .work_title {padding:0 140px;}

    #wrap.foodnet_fs .work_foodnet_fs_01 .imgs {flex-direction: row;}
    #wrap.foodnet_fs .work_foodnet_fs_01 .imgs li {padding-top:50%;}
    #wrap.foodnet_fs .work_foodnet_fs_02 {padding:0;}
    #wrap.foodnet_fs .work_foodnet_fs_02 ul {display:none;}
    #wrap.foodnet_fs .work_foodnet_fs_03 .imgs {flex-direction: row;}
    #wrap.foodnet_fs .work_foodnet_fs_03 .imgs li {padding-top:37.5%;}
    #wrap.foodnet_fs .work_foodnet_fs_04 {padding:110px 30px;}
    #wrap.foodnet_fs .work_foodnet_fs_05 {padding:300px 0 280px;}
}


/* koreainvest_mob */
#wrap.koreainvest_mob .work_intro_bg {align-items: flex-start; background-image:url(./../../resources/images/work/koreainvest_mob/img_intro_mob.jpg);}
#wrap.koreainvest_mob .work_title {padding:100px 0 0 0; text-align:center; color:#fff;text-shadow: 3px 3px 6px rgb(0 0 0 / 25%);}
#wrap.koreainvest_mob .work_koreainvest_mob_box {text-align:center;}
#wrap.koreainvest_mob .work_koreainvest_mob_box img {max-width:100%;}
#wrap.koreainvest_mob .work_koreainvest_mob_01 {overflow:hidden; position:relative;}
#wrap.koreainvest_mob .work_koreainvest_mob_box .work_koreainvest_mob_03{padding-top: 40px;}
#wrap.koreainvest_mob .work_koreainvest_mob_box .work_koreainvest_mob_04{padding-top: 60px;}
#wrap.koreainvest_mob .work_koreainvest_mob_box .work_koreainvest_mob_05{padding-top: 60px;}
#wrap.koreainvest_mob .work_koreainvest_mob_box .work_koreainvest_mob_03 img {max-width: 100%;}
#wrap.koreainvest_mob .work_koreainvest_mob_box .work_koreainvest_mob_04 img {max-width: 100%; margin-left: 0%;}
#wrap.koreainvest_mob .work_koreainvest_mob_box .work_koreainvest_mob_05 img {max-width: 100%; margin: 0;}
#wrap.koreainvest_mob .work_koreainvest_mob_box .work_koreainvest_mob_03,
#wrap.koreainvest_mob .work_koreainvest_mob_box .work_koreainvest_mob_04,
#wrap.koreainvest_mob .work_koreainvest_mob_box .work_koreainvest_mob_05{overflow: hidden;background-color: #F6F6F6;padding-bottom: 60px;}
#wrap.koreainvest_mob .work_koreainvest_mob_box .work_koreainvest_mob_09 > .wrapper > ul{display: flex; flex-flow: column; gap: 20px; padding: 0 20px 20px;}
#wrap.koreainvest_mob .work_koreainvest_mob_box .work_koreainvest_mob_03 > picture > img,
#wrap.koreainvest_mob .work_koreainvest_mob_box .work_koreainvest_mob_04 > picture > img,
#wrap.koreainvest_mob .work_koreainvest_mob_box .work_koreainvest_mob_05 > picture > img{display: none;}
#wrap.koreainvest_mob .work_koreainvest_mob_box .work_koreainvest_mob_03 > picture > .work_swiper_mob_wrap > img,
#wrap.koreainvest_mob .work_koreainvest_mob_box .work_koreainvest_mob_04 > picture > .work_swiper_mob_wrap > img,
#wrap.koreainvest_mob .work_koreainvest_mob_box .work_koreainvest_mob_05 > picture > .work_swiper_mob_wrap > img{width: 43.3%;}

#wrap.koreainvest_mob .work_koreainvest_mob_box .work_swiper_mob_wrap{display: inline-block;width: 100%;}
#wrap.koreainvest_mob .work_koreainvest_mob_box .work_swiper_mob .swiper-slide > img{max-width: 100%;}
#wrap.koreainvest_mob .work_koreainvest_mob_box .work_swiper_mob {padding: 20px;}
.work_swiper_mob .swiper-wrapper{padding-bottom: 31px;}
.work_swiper_mob .swiper-pagination-bullet{width: 10px; height: 10px; background-color: #fff;border: 1px solid #ccc;opacity: 1;}
.work_swiper_mob .swiper-pagination-bullet-active{background-color: #999;border: 1px solid #999;}


@media all and (min-width:769px) {
    #wrap.koreainvest_mob .work_intro_bg {align-items:center; background-image:url(./../../resources/images/work/koreainvest_mob/img_intro.jpg);}
    #wrap.koreainvest_mob .work_title {padding:0 140px; text-align:left;}
    #wrap.koreainvest_mob .work_koreainvest_mob_box .work_koreainvest_mob_09 > .wrapper > ul{display: flex; flex-flow: row; gap: 40px; padding: 0 40px 40px;}
    #wrap.koreainvest_mob .work_koreainvest_mob_box .work_swiper_mob_wrap{display: none;}
    #wrap.koreainvest_mob .work_koreainvest_mob_box .work_koreainvest_mob_03{padding-top: 200px;max-width: 1920px;margin:0 auto;}
    #wrap.koreainvest_mob .work_koreainvest_mob_box .work_koreainvest_mob_04{padding-top: 290px;max-width: 1920px;margin:0 auto;}
    #wrap.koreainvest_mob .work_koreainvest_mob_box .work_koreainvest_mob_05{padding-top: 340px;max-width: 1920px;margin:0 auto;}
    #wrap.koreainvest_mob .work_koreainvest_mob_box .work_koreainvest_mob_03 img {max-width: 115%;}
    #wrap.koreainvest_mob .work_koreainvest_mob_box .work_koreainvest_mob_04 img {max-width: 109%; margin-left: -9%;}
    #wrap.koreainvest_mob .work_koreainvest_mob_box .work_koreainvest_mob_05 img {max-width: 115%; margin: 0 -7.5% -22%;}
    #wrap.koreainvest_mob .work_koreainvest_mob_box .work_koreainvest_mob_03 > picture > img,
    #wrap.koreainvest_mob .work_koreainvest_mob_box .work_koreainvest_mob_04 > picture > img,
    #wrap.koreainvest_mob .work_koreainvest_mob_box .work_koreainvest_mob_05 > picture > img{display: inline-block;}
}


/* ibk_capital */
#wrap.ibk_capital .work_intro_bg {align-items: flex-start; background-image:url(./../../resources/images/work/ibk_capital/img_intro_mob.jpg);}
#wrap.ibk_capital .work_title {padding:180px 0 0 20px;}
#wrap.ibk_capital .work_ibk_capital_box {text-align:center;}
#wrap.ibk_capital .work_ibk_capital_box img {max-width:100%;}
#wrap.ibk_capital .work_ibk_capital_01 {overflow:hidden; position:relative;}
#wrap.ibk_capital .work_ibk_capital_01 > .wrapper > ul{display: inline-block;}
#wrap.ibk_capital .work_ibk_capital_02{padding: 60px 60px 0;}
#wrap.ibk_capital .work_ibk_capital_03{padding: 0 60px 50px;}
#wrap.ibk_capital .work_ibk_capital_05{padding-top: 50px;}
#wrap.ibk_capital .work_ibk_capital_07{padding-bottom: 40px;}
#wrap.ibk_capital .work_ibk_capital_08{padding:0 7px 60px;}
#wrap.ibk_capital .work_ibk_capital_02,
#wrap.ibk_capital .work_ibk_capital_03{background-color: #F6F9FC;}
#wrap.ibk_capital .work_ibk_capital_05,
#wrap.ibk_capital .work_ibk_capital_06,
#wrap.ibk_capital .work_ibk_capital_07,
#wrap.ibk_capital .work_ibk_capital_08{background-color: #014EBC;}
#wrap.ibk_capital .work_ibk_capital_05 {overflow: hidden;}
#wrap.ibk_capital .work_ibk_capital_05 > picture > img {margin-bottom: -2px;}

@media all and (min-width:769px) {
    #wrap.ibk_capital .work_intro_bg {align-items:center; background-image:url(./../../resources/images/work/ibk_capital/img_intro.jpg);}
    #wrap.ibk_capital .work_title {padding:0 140px;}
    #wrap.ibk_capital .work_ibk_capital_01 > .wrapper > ul{display: flex;}
    #wrap.ibk_capital .work_ibk_capital_02{padding-top: 220px;}
    #wrap.ibk_capital .work_ibk_capital_03{padding-bottom: 220px;}
    #wrap.ibk_capital .work_ibk_capital_02,
    #wrap.ibk_capital .work_ibk_capital_03{background-color: #F6F9FC;}
    #wrap.ibk_capital .work_ibk_capital_05,
    #wrap.ibk_capital .work_ibk_capital_06,
    #wrap.ibk_capital .work_ibk_capital_07,
    #wrap.ibk_capital .work_ibk_capital_08{background-color: #014EBC;}
    #wrap.ibk_capital .work_ibk_capital_04 {overflow: hidden;}
    #wrap.ibk_capital .work_ibk_capital_04 > picture > img {margin-bottom: -2px;}
    #wrap.ibk_capital .work_ibk_capital_05{padding-top: 220px;}
    #wrap.ibk_capital .work_ibk_capital_08{padding:0 15px 190px;}
    #wrap.ibk_capital .work_ibk_capital_02,
    #wrap.ibk_capital .work_ibk_capital_03,
    #wrap.ibk_capital .work_ibk_capital_05,
    #wrap.ibk_capital .work_ibk_capital_06,
    #wrap.ibk_capital .work_ibk_capital_07,
    #wrap.ibk_capital .work_ibk_capital_08{max-width: 1920px;margin:0 auto;box-sizing: border-box;}
}


/* hanatour_channel */
#wrap.hanatour_channel .work_intro_bg {align-items: flex-start; background-image:url(./../../resources/images/work/hanatour_channel/img_intro_mob.jpg);}
#wrap.hanatour_channel .work_title {padding:100px 0 0 20px; color:#fff;}
#wrap.hanatour_channel .work_hanatour_channel_box {text-align:center;}
#wrap.hanatour_channel .work_hanatour_channel_box img {max-width:100%;}
#wrap.hanatour_channel .work_hanatour_channel_01 {overflow:hidden; position:relative;}
#wrap.hanatour_channel .work_hanatour_channel_01 > .wrapper > ul{display: inline-block;}
#wrap.hanatour_channel .work_hanatour_channel_03{background-color: #D5EAFC; padding-bottom: 40px;}
#wrap.hanatour_channel .work_hanatour_channel_05{background-color: #5E2BB8; padding-top: 40px;}

@media all and (min-width:769px) {
    #wrap.hanatour_channel .work_intro_bg {align-items:center; background-image:url(./../../resources/images/work/hanatour_channel/img_intro.jpg);}
    #wrap.hanatour_channel .work_title {padding:0 140px;}
    #wrap.hanatour_channel .work_hanatour_channel_01 > .wrapper > ul{display: flex;}
    #wrap.hanatour_channel .work_hanatour_channel_03{background-color: #D5EAFC; padding-bottom: 200px; max-width: 1920px; margin: 0 auto;}
    #wrap.hanatour_channel .work_hanatour_channel_05{background-color: #5E2BB8; padding-top: 200px; max-width: 1920px; margin: 0 auto;}
}



/* ibk_bf */
#wrap.ibk_bf .work_intro_bg {align-items: flex-start; background-image:url(./../../resources/images/work/ibk_bf/img_intro_mob.jpg);}
#wrap.ibk_bf .work_title {padding:100px 0 0 20px; color:#fff;}
#wrap.ibk_bf .work_ibk_bf_box {text-align:center;}
#wrap.ibk_bf .work_ibk_bf_box img {max-width:100%;}
#wrap.ibk_bf .work_ibk_bf_01 {overflow:hidden; position:relative;}
#wrap.ibk_bf .work_ibk_bf_01 > .wrapper > ul{display: inline-block;}
#wrap.ibk_bf .work_ibk_bf_02{background-color: #F5F5F5; padding: 60px 30px 0;}
#wrap.ibk_bf .work_ibk_bf_03{background-color: #1A90D1; padding: 30px 40px;}
#wrap.ibk_bf .work_ibk_bf_04{overflow: hidden;}
#wrap.ibk_bf .work_ibk_bf_04 > picture > img{margin-top: -5px; margin-bottom: -1px;}

@media all and (min-width:769px) {
    #wrap.ibk_bf .work_intro_bg {align-items:center; background-image:url(./../../resources/images/work/ibk_bf/img_intro.jpg);}
    #wrap.ibk_bf .work_title {padding:0 140px;}
    #wrap.ibk_bf .work_ibk_bf_01 > .wrapper > ul{display: flex;}
    #wrap.ibk_bf .work_ibk_bf_02{background-color: #F5F5F5; padding-top: 260px; max-width: 1920px; margin:0 auto;}
    #wrap.ibk_bf .work_ibk_bf_03{background-color: #1A90D1; padding: 220px 0; max-width: 1920px; margin:0 auto;}
    #wrap.ibk_bf .work_ibk_bf_04{overflow: hidden;}
    #wrap.ibk_bf .work_ibk_bf_04 > picture > img{margin-top: -22px; margin-bottom: -1px;}
}


/* scourt */
#wrap.scourt .work_intro_bg {align-items: flex-start; background-image:url(./../../resources/images/work/scourt/img_intro_mob.jpg);}
#wrap.scourt .work_title {padding:100px 0 0 20px;}
#wrap.scourt .work_scourt_box {text-align:center;}
#wrap.scourt .work_scourt_box img {max-width:100%;}
#wrap.scourt .work_scourt_01 {overflow:hidden; position:relative;}

@media all and (min-width:769px) {
    #wrap.scourt .work_intro_bg {align-items:center; background-image:url(./../../resources/images/work/scourt/img_intro.jpg);}
    #wrap.scourt .work_title {padding:0 140px;}
}

/* lina_chubb */
#wrap.lina_chubb .work_intro_bg {align-items: flex-start; background-image:url(./../../resources/images/work/lina_chubb/img_intro_mob.jpg);}
#wrap.lina_chubb .work_title {padding:100px 0 0 20px; color:#fff;}
#wrap.lina_chubb .work_lina_chubb_box {text-align:center;}
#wrap.lina_chubb .work_lina_chubb_box img {max-width:100%;}
#wrap.lina_chubb .work_lina_chubb_01 {overflow:hidden; position:relative; background-color: #222; max-width: 1920px; margin:0 auto;}
#wrap.lina_chubb .work_lina_chubb_02 {background-color: #222; max-width: 1920px; margin:0 auto;}
#wrap.lina_chubb .work_lina_chubb_03 {background-color: #000; padding: 7px 4px; max-width: 1920px; margin:0 auto; box-sizing: border-box;}
#wrap.lina_chubb .work_lina_chubb_05 {background-color: #D9D3CC; padding: 0 0 0 0; max-width: 1920px; margin:0 auto;}

@media all and (min-width:769px) {
    #wrap.lina_chubb .work_intro_bg {align-items:center; background-image:url(./../../resources/images/work/lina_chubb/img_intro.jpg);}
    #wrap.lina_chubb .work_title {padding:0 140px;}
    #wrap.lina_chubb .work_lina_chubb_03{padding: 40px 20px;}
    #wrap.lina_chubb .work_lina_chubb_05 {padding: 0 0 260px 0;}
}

/* incheon */
#wrap.incheon .work_intro_bg {align-items: flex-start; background-image:url(./../../resources/images/work/incheon/img_intro_mob.jpg);}
#wrap.incheon .work_title {padding:239px 0 0 20px; color: #fff; letter-spacing: 2px; line-height: 66px; font-size: 48px;}
#wrap.incheon .work_incheon_box {text-align:center;}
#wrap.incheon .work_incheon_box img {max-width:100%;}
#wrap.incheon .work_incheon_01 {overflow:hidden; position:relative;}
#wrap.incheon .work_incheon_01 > .wrapper > ul{display: inline-block;}
#wrap.incheon .work_incheon_02 {margin-top: 80px; padding: 0 20px;}
#wrap.incheon .work_incheon_03 {margin-top: 80px; padding: 0 20px;}
#wrap.incheon .work_incheon_04 {margin-top: 80px;}
#wrap.incheon .work_incheon_06 {margin: 80px auto 0; padding: 0 30px;}
#wrap.incheon .work_incheon_07 {margin: 80px auto 0; padding: 0 30px;}
#wrap.incheon .work_incheon_08 {margin: 80px auto 0; padding: 0 30px;}
#wrap.incheon .work_incheon_09 {margin: 80px auto 0;}


@media all and (min-width:769px) {
    #wrap.incheon .work_intro_bg {align-items:center; background-image:url(./../../resources/images/work/incheon/img_intro.jpg);}
    #wrap.incheon .work_title {padding:0 140px; letter-spacing: 40px; line-height: 120px; font-size: 100px;}
    #wrap.incheon .work_incheon_01 > .wrapper > ul{display: flex;}
    #wrap.incheon .work_incheon_02 {margin-top: 200px;}
    #wrap.incheon .work_incheon_03 {margin-top: 100px;}
    #wrap.incheon .work_incheon_04 {margin-top: 200px;}
    #wrap.incheon .work_incheon_06 {max-width: 1920px; margin: 250px auto 0; overflow: hidden;}
    #wrap.incheon .work_incheon_08 {max-width: 1920px; margin: 220px auto 0; overflow: hidden;}
    #wrap.incheon .work_incheon_09 {margin-top: 220px;}
    #wrap.incheon .work_incheon_06 > picture > img {margin-right: -138px;}
    #wrap.incheon .work_incheon_08 > picture > img {margin-left: -127px;}
}
